streamlit==1.42.2
langchain==0.3.25
openai==1.88.0
langchain-community==0.3.25
together==1.5.16
bcrypt==4.3.0
streamlit-authenticator==0.2.3
langchain-together==0.3.0
httpx==0.28.1
langchain-core==0.3.65
pydantic==2.10.6